* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dddcd6;
    color: #333;
    line-height: 1.6;
    
}

.header {
    text-align: center;
    text-emphasis-color: #c90808;
    text-transform: uppercase;
    padding: 60px 20px;
    background-color: #692020; 
    color: #ffffff;
    border-bottom: 8px solid #99c6e4;
}

.header h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
    background: linear-gradient(to top, #692020);
}

.header h2{

    text-align: center;
    font-size: 4.5rem;
    text-transform: uppercase;
    padding: 60px 20px;
    background-color: #692020; 
    color: #b41b1b;
    border-bottom: 8px solid #99c6e4;
}


.container {
    max-width: 1200px;
    margin:  auto;
    padding: 40px 20px;
}

.intro-text {
    text-align: center;
    margin-bottom: 10px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px; 
}


.card {
    background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px); 
}

.gallery img {
    width: 100%;
    max-width: 320px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
    color: #692020;
}

.patato {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: 500px;
}